<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Content Row -->
  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-12 col-md-12 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Monday 10 2:28 pm</div>
            </div>
            <div class="col mr-2">
              <div class="text-xs text-center font-weight-bold text-primary text-uppercase mb-1">
                Houston, TX, 33619
              </div>
              <div class="text-xs text-center font-weight-bold text-primary text-uppercase mb-1">
                <i class="fas fa-sort-down fa-3x"></i>
              </div>
              <div class="text-xs text-center font-weight-bold text-primary text-uppercase mb-1">
                Atlanta, GA, 30123
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-truck fa-4x "></i>
            </div>
            <div class="col mr-2">
              <div class="text-xxl text-center font-weight-bold text-primary text-uppercase mb-1">
                $250.00
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-ellipsis-v"></i>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-12 col-md-12 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Monday 10 2:28 pm</div>
              </div>
              <div class="col mr-2">
                <div class="text-xs text-center font-weight-bold text-primary text-uppercase mb-1">
                  Houston, TX, 33619
                </div>
                <div class="text-xs text-center font-weight-bold text-primary text-uppercase mb-1">
                  <i class="fas fa-sort-down fa-3x"></i>
                </div>
                <div class="text-xs text-center font-weight-bold text-primary text-uppercase mb-1">
                  Atlanta, GA, 30123
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-truck fa-4x "></i>
              </div>
              <div class="col mr-2">
                <div class="text-xxl text-center font-weight-bold text-primary text-uppercase mb-1">
                  $250.00
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-ellipsis-v"></i>
              </div>
  
            </div>
          </div>
        </div>
      </div>
  
    </div>
</div>
<!-- /.container-fluid -->