<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon">
      <img src="./assets/img/logo-leantech.png" width="150" height="70">
    </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active text-center">
    <a class="nav-link" href="#">
      <i class="fas fa-filter"></i>
      <span>Smart Filter</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">


  <li class="nav-item text-center">

    <a class="nav-link" href="#">
      <i class="fas fa-certificate fa-2x"></i>
      <span>Sales</span>
    </a>
  </li>

  <li class="nav-item text-center">

    <a class="nav-link" href="#">
      <i class="fas fa-calendar fa-2x"></i>
      <span>Dates</span>
    </a>
  </li>

  <li class="nav-item text-center">

    <a class="nav-link" href="#">
      <i class="fas fa-heart fa-2x"></i>
      <span>Favorites</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <li class="nav-item active text-center">
    <a class="nav-link" href="#">
      <span>Status</span></a>
  </li>

  <li class="nav-item text-center">
    <!-- Topbar Search -->
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2">
        </div>
    </form>
  </li>

  <li class="nav-item text-center">
      <a href="#" class="btn btn-danger btn-icon-split btn-sm">
          <span class="icon text-white-50">
            <i class="fas fa-flag"></i>
          </span>
          <span class="text">Split Button Small</span>
        </a>
  </li>
  
</ul>
<!-- End of Sidebar -->